.btnContinar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}