.header {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    margin-left: 15px;
}

.header ul li a {
    text-decoration: none;
    color: #a4a4a4;
    font-size: 16px;
    cursor: pointer;
}

.header ul li a:hover {
    color: #dbdbdb;
}

.header ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #a4a4a4;
}

.headerName {
    font-size: 16px;
    font-weight: bold;
    color: #a4a4a4;
    /* margin-left: 15px; */
    text-align: center;
}